.chip-path {
  position: "absolute";
  width: "100%";
  height: "100%";
  background: "#fda330";
  clip-path: ellipse(61% 92% at 73% 7%);
  z-index: 1;
}

.circle-container {
  box-shadow: inset 0 0 0px #ffffff36, inset 0 6px 5px #4f4f4f30, inset 0 0px 0px #ffffff00;
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 28px;
  /* left: 79px; */
  right: 157px;
  z-index: 1;
}
@media print {
  .circle-container {
    box-shadow: inset 0 0 0px #ffffff36, inset 0 6px 5px #4f4f4f30, inset 0 0px 0px #ffffff00;
    position: absolute;
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 28px;
    /* left: 79px; */
    right: 157px;
    z-index: 1;
  }
}

.cursor:hover {
  cursor: pointer !important;
}

.circle-container img {
  width: 27.33px;
  height: auto;
  object-fit: cover; /* Ensures the image covers the circle */
}

.card-container {
  position: relative;
  width: 455px;
  /* height: 281px; */
  height: 286px;
  /* margin: 1px; */
  background-color: white;
  /* border: 1px solid whitesmoke; */
  overflow: hidden;
  /* background-color: rgb(170, 255, 255); */
}
.emergence-contact{
  position: absolute;
  left: 39px;
    bottom: 33px;
}

.support-header {
  position: absolute;
  display: inline-flex;
  font-size: 9px;
  width: 176px;
  align-items: center;
  top: 8px;
    left: 15px;
}

/* .support-image{
  position: absolute;
} */

.header-text {
  position: absolute;
  font-family: 'Poppins-light';
  width: fit-content;
  left: 50px;
    top: 7px
}
.header-phone {
  font-weight: 600;
  font-size: 14px !important;
  color: #1191D0;
}

.fill-container {
  position: relative;
}

.clip-path-container {
  width: 227px;
  height: 100px;
  /* background: aquamarine; */
  position: absolute;
  right: 0px;
}

.text-in-fill {
  font-family: 'Poppins-regular';
  font-size: 20px;
  position: relative;
  font-weight: 600;
  color: #CC0000;
  left: 80px;
  top: 28px;
  z-index: 1;
}

.text-in-fill-sub {
  font-family: 'Poppins-regular';
  font-size: 15px;
  position: relative;
  font-weight: 600;
  color: white;
  left: 110px;
  top: 28px;
  z-index: 1;
}

.vertical-text {
  font-family: "Inter";
  transform: rotate(270deg);
  margin: 0;
  font-size: 9px;
  /* right: -3px; */
  position: absolute;
  color: #00000082;
  width: 221px;
  /* background: red; */
  height: fit-content;
  top: 73px;
  left: -91px;
}

.profile-image {
  width: 105px;
  height: 125px;
  position: absolute;
  left: 34px;
    top: 79px;
}

.opp_vertical-text {
  font-family: "Inter";
  transform: rotate(90deg);
  margin: 0;
  font-size: 9px;
  /* right: -3px; */
  position: relative;
  color: #00000082;
  width: 221px;
  /* background: red; */
  height: fit-content;
  top: -34px;
  left: 63px;
}

.user-details-container {
  position: absolute;
  display: inline-flex;
}

.text-container {
  position: absolute;
  top: 78px;
  right: 160px;
}

.text-group {
  font-family: "Inter";
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 11px;
  margin-bottom: 6px;
  width: 146px;
}

.contact-container {
  font-family: "Inter";
  position: absolute;
  /* right: 302px;
  top: 91px; */
  /* background: blanchedalmond; */
  height: 53px;
  font-size: 8px;
  font-weight: 700;
  width: 120px;
  top: 146px;
    left: 149px;
}

.user-loc {
  position: absolute;
  left: 19px
}

.user-loc-2 {
  position: absolute;
  left: 19px;
  top: 33px
}

.water-mark {
  position: absolute;
  right: 41px;
  top: 101px;
}

.gender-blood-info {
  display: "inline-flex";
  position: absolute;
  right: 1px;
  top: 112px;
  z-index: 5;
}

.footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  background: green;
  bottom: 0px;
  font-size: 11px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}

.barcode-container{
  position: absolute;
  bottom: 0px;
  right: -21px;
  text-align: center;
}

.barcode {
  font-family: "Libre Barcode 39";
  font-size: 30px;
}
.cursor:hover {
  cursor: pointer !important;
}